:80 {
    route /health {
        reverse_proxy backend:8000
    }

    route * {
        basic_auth {
            admin \$2y\$...\$REDACTED
        }
        reverse_proxy backend:8000
    }

    encode gzip
}
